<div class="upload-dialog" mat-dialog-content>
    <div class="upload-dialog-title">
        <span>Upload your files</span>
    </div>

    <div class="upload-dialog-file-drop-zone" ng2FileDrop [ngClass]="{'drop-zone-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader">
        <input type="file" class="file-drop-zone-file-input" ng2FileSelect [uploader]="uploader" multiple/>


        <div class="file-drop-zone-upload-icon-container align-in-middle">
            <mat-icon aria-label="Upload" class="file-drop-zone-upload-icon">get_app</mat-icon>
        </div>
        <div class="file-drop-zone-info">
            <div class="file-drop-zone-info-title">
                <span>Drop your files here</span>
            </div>
            <div class="file-drop-zone-info-sub">
                <span>or choose from your
                    <a class="file-drop-zone-file-explorer">computer</a>
                </span>
            </div>
        </div>
    </div>

    <div>
        <tr *ngFor="let item of uploader.queue">
            <td>
                <strong>{{ item?.file?.name }}</strong>
            </td>
        </tr>
    </div>

    <div class="upload-dialog-close-button-container">
        <button mat-button color="warn" (click)="closeDialog()">
            <span class="upload-dialog-close-button">
                Close
            </span>
        </button>
    </div>

</div>